body {
    width: 85%;
    margin-right: 6.5%;
    margin-left: 6.5%;
}

input.clone-submit {
    font-family: monospace;
    font-size: 10pt;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.list {
    background: rgb(245, 245, 239);
    margin-right: 1.6%;
    margin-left: 1.6%;
}

#logo {
    width: 18px;
    height: 18px;
    border: 1px #ffffff solid;
}