/* body {
  display: flex;
  justify-content: center;
} */

.container {
  margin-top: 10px;
  margin-bottom: 10px;
  /* margin-right: 100px;
  margin-left: 100px; */
}

.col-2,
.col-mid-4 {
  font-family: Verdana, Geneva, sans-serif;
}

.hack {
  background: #ff6600;
  border-radius: 5px;
  margin-left: 13%;
  margin-right: 13%;
}

.hack2 {
  border-radius: 5px;
  margin-left: 13%;
  margin-right: 13%;
}

.heading {
  font-size: 17px;
  /* margin-top: 3%;
  margin-bottom: 3%; */
  font-weight: bold;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 1%;
  margin-right: 6%;
}

.text {
  margin-top: auto;
  margin-bottom: auto;
}

#bar {
  margin-right: 0.5%;
  margin-left: 0.5%;
}

#submitFav,
#favs,
#all {
  color: black;
}

a:hover {
  cursor: pointer;
  color: black;
}

.smallSite,
a.smallSite {
  font-size: 10px;
  color: rgb(162, 164, 162);
}

.sub-form,
.sign-up-form,
.sign-in-form {
  margin-right: 13%;
  margin-left: 13%;
  background: rgb(245, 245, 239);
  padding-top: 3%;
  padding-left: 3%;
  padding-bottom: 2%;
}

.btn {
  background: rgb(167, 162, 153);
  border: none;
}

.btn:hover {
  background: rgb(167, 162, 153);
}

/********** stories list **********/

.list {
  margin-right: 13%;
  margin-left: 13%;
  background: rgb(245, 245, 239);
  padding: 0.5%;
}

li {
  color: rgb(162, 164, 162);
}

.list-text {
  color: black;
}

.fa-star:hover {
  cursor: pointer;
}

.fill {
  display: none;
}

.hide {
  display: none;
}

.favorites {
  display: none;
}

ul.fav-stories {
  list-style-type: none;
}

.active {
  list-style-type: none;
}